.piechart-legend-item {
    margin-right: 10px;
}

.piechart-data-icon {
    vertical-align: top;
    margin-right: 4px;
    margin-top: 4px;
}

.piechart-data-text {
    display: inline-block;
}

.piechart-data-value {
    font-size: 16px;
}
