.alert-item {
  height: 46px;
  width: 100%;
  padding: 0 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 14px;

  .link, label {
    flex: 1;
  }

  .link {
    text-decoration: underline;
  }

  .label {
    cursor: default;
  }

  .icon {
    padding-right: 8px;
    cursor: default;
  }
}
