@import '../../../css/colors.scss';

.sidenav-button-button {
  min-width: 0px;
  height: 44px;
  width: 100%;
  border: 0px;
  padding: 0 14px;

  .sidenav-button-inner {
    justify-content: start;
  }

  .sidenav-button-icon {
    color: $primaryBlue;
  }

  .sidenav-button-text {
    flex: 1;
    text-align: start;
  }

  &:hover {
    color: $primaryBlue;
  }

  &:disabled {
    background-color: transparent;

    .sidenav-button-icon {
      color: $gray90;
    }
  }
}
