.stats-item {
  height: 46px;
  width: 100%;
  padding: 0 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 14px;

  .label {
    flex: 1;
    cursor: default;
  }

  .value {
    font-weight: 600;
  }
}
