$gray90                                      :#a19f9d;
$gray130                                     :#605E5C;

$primaryBlue                                 :#0078D4;

$lightGrayishBlue                            :#C7E0F4;
$powderBlue                                  :#B0E0E6;

$goldenPoppy                                 :#FCC200;
$tangerineYellow                             :#FFCC00;