.legend-outer {
  position: absolute;
  align-self: flex-end;
}

.my-legend {
  display: flex;
  flex-direction: column;

  background-color: azure;
  border-style: groove;
  opacity: 0.8;
  padding: 5px;
  margin: 15px;
  border-radius: 5px;

  .legend-title {
    text-align: left;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 90%;
  }

  .legend-scale {
    ul {
      margin: 0;
      margin-bottom: 5px;
      padding: 0;
      float: left;
      list-style: none;

      li {
        font-size: 80%;
        list-style: none;
        margin-left: 0;
        line-height: 18px;
        margin-bottom: 2px;
      }
    }
  }

  ul.legend-labels li span {
    display: block;
    float: left;
    height: 16px;
    width: 30px;
    margin-right: 5px;
    margin-left: 0;
    border: 1px solid #999;
  }

  .legend-source {
    font-size: 70%;
    color: #999;
    clear: both;
  }

  a {
    color: #777;
  }
}
