@import '../../../css/colors.scss';

.stats-header {
  background-color: #fff;
  border: 0;
  height: 50px;
  width: 100%;
  padding: 0 25px;
  color: $primaryBlue;
  font-size: 14px;
  text-align: left;

  .flex-container {
    width: 100%;
  }

  .label {
    flex: 1;
    font-weight: 600;
  }

  .collapse-icon {
    color: $primaryBlue;
    transform-origin: 50% 50% 0px;
    transition: transform 0.1s linear 0s;
    transform: rotate(0deg);

    &.collapsed {
      transform: rotate(-90deg);
    }
  }
}


